:root {
  --white-color: #FFFFFF;
  --gray-color: #E6E6E6;
  --text-color: #222;
  --font: sans-serif;
  --max-width: 500px;
  --nav-height: 4rem;
}

html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: var(--text-color);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  color: var(--text-color);
}

button {
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 1rem;
}